<!DOCTYPE html>
<html>
<head>
	<title>New Activity</title>
</head>
<body>
	<h3><a href="logout">Logout</a> || <a href="home">Home</a></h3>
	<h1>Dojo Activity Center</h1>
	<p>--------------------------------------------------------------</p>
	<h2>Create an Activity!</h2>
		<form action="create" method="POST">
			{% csrf_token %}
			Title: <input type="text" name="title"><br>
			Starts @: <input type="datetime-local" name="startdatetime">
			Ends @: <input type="datetime-local" name="enddatetime"><br>
			Event Description: <input type="text" name="description"><br>
			<input type="submit" value="Create Activity">
		</form>
</body>
</html>