<!DOCTYPE html>
<html>
<head>
	<title>Activity</title>
	{% load static %}
	<!-- The line above tells Django to be ready to listen for static files -->
	<link rel="stylesheet" href="{% static 'Dojo_Activities_App/css/ActivityPage.css' %}" media="screen" title=""  charset="utf-8">
</head>
<body>
	<div class="container">
		<div class="navBar">
			<p><b>Festival Friend</b></p>
			<div class="dropdown">
				<p class="dropname">{{request.session.firstname}}</p>
				<div class="dropdown-content">
					<a href="/home">Dashboard</a>
					<a href="/logout">Logout</a>
				</div>
			</div>
		</div><br>
		
		<h2>{{activity_info.title}}</h2>
		<h3>Event Coordinator: {{activity_info.coordinator.firstname}} {{activity_info.coordinator.lastname}}</h3>
		<h3>Description:</h3>
		<p>{{activity_info.description}}</p>
		<h3>Participants:</h3>
		{% for p in activity_info.participant.all %}
			<p>{{p.firstname}} {{p.lastname}}</p>
		{% endfor %}
	</div>
</body>
</html>