<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	{% load static %}
	<!-- The line above tells Django to be ready to listen for static files -->
	<link rel="stylesheet" href="{% static 'Dojo_Activities_App/css/Dash.css' %}" media="screen" title=""  charset="utf-8">
</head>
<body>
	<div class="container">
		<div class="navBar">
            <p><b>Activity Center</b></p>
			<div class="navItem">
                <p>{{request.session.firstname}}</p>
			</div>
		</div><br>
		<div class="dashTable">
		<table>
			<th>Date and Time</th>
			<th>Activity</th>
			<th>Event Coordinator</th>
			<th>Participants</th>
			<th>Actions</th>
			{% for A in all_activities %}
			<tr>
				<td>{{A.startdatetime}}</td>
				<td><a class="event" href="activity/{{A.id}}">{{A.title}}</a></td>
				<td>{{A.coordinator.firstname}} {{A.coordinator.lastname}} </td>
				<td>{{A.participant.count}} </td>
				{% if request.session.user_id == A.coordinator.id %}
				<td><a href="delete/{{A.id}}">Delete</a></td>
				{% elif me in A.participant.all %}
				<td><a href="leave/{{A.id}}">Leave</a></td>
				{% else %}
				<td><a href="join/{{A.id}}">Join</a></td>
				{% endif %}
					{% empty %}
						<p>You currently have no ideas</p>
            {% endfor %}
        </table>
    </div>
    <a href="New"><button>Add New Activity!</button></a>
	</div>
</body>
</html>