<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
</head>
<body>
	<h3><a href="logout">Logout</a></h3>
	<h1>Dojo Activity Center</h1>
	<h2>Welcome, {{request.session.firstname}}</h2>
		<table>
			<th>Activity</th>
			<th>Date and Time</th>
			<th>Event Coordinator</th>
			<th>Number of Participants</th>
			<th>Actions</th>
			{% for A in all_activities %}
			<tr>
				<td><a href="activity/{{A.id}}">{{A.title}}</a></td>
				<td>{{A.startdatetime}} to {{A.enddatetime}} </td>
				<td>{{A.coordinator.firstname}} {{A.coordinator.lastname}} </td>
				<td>{{A.participant.count}} </td>
				{% if request.session.user_id == A.coordinator.id %}
				<td><a href="delete/{{A.id}}">Delete</a></td>
				{% elif me in A.participant.all %}
				<td><a href="leave/{{A.id}}">Leave</a></td>
				{% else %}
				<td><a href="join/{{A.id}}">Join</a></td>
				{% endif %}
					{% empty %}
						<p>You currently have no ideas</p>
			{% endfor %}
		</table>
				<a href="New"><button>Add New Activity!</button></a>


</body>
</html>