<!DOCTYPE html>
<html>
<head>
	<title>Login/Registration</title>
</head>
<body>
	<h1>Welcome!</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    	{% endif %}		
	<fieldset>
		<legend>Register</legend>
		<form action="register" method="POST">
			{% csrf_token %}
				<input placeholder="Enter First Name" type="text" name="firstname"><br>
				<input placeholder="Enter Last Name" type="text" name="lastname"><br>
				<input placeholder="Enter Alias" type="text" name="alias"><br>
				<input placeholder="Enter Email" type="email" name="email"><br>
				<input placeholder="Enter Password" type="password" name="password"><br>
				* Password should be at least 8 characters <br>
				<input placeholder="Confirm Password" type="password" name="confirmpw"><br>
				<input type="submit" value="Register">
		</form>
	</fieldset>	
	<br>
	<br>
	<fieldset>
		<legend>Login</legend>
		<form action="login" method="POST">
			{% csrf_token %}
			<input placeholder="Enter Alias" type="text" name="alias"><br>
			<input placeholder="Enter Password" type="password" name='password'><br>
			<input type="submit" value="Login">
		</form>
	</fieldset>
</body>
</html>